workflows/02_PH1_Logistics_Distribution.json
{
    "name": "02 - Distribution Pipeline [6 Platforms | 1 Account per Character]",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "publish-reel",
                "options": {}
            },
            "id": "webhook-approve-reel",
            "name": "Webhook (Approve Reel)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                200,
                500
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT r.*, c.name as character_name, c.personality FROM reels r JOIN characters c ON r.character_id = c.id WHERE r.id = $1 LIMIT 1",
                "additionalFields": {
                    "queryParameters": "={{ JSON.stringify([$json.query.reel_id]) }}"
                }
            },
            "id": "get-reel-data",
            "name": "Get Reel + Character",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                400,
                500
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT platform, account_username, account_id, access_token, refresh_token, extra_config FROM social_accounts WHERE character_id = $1 AND is_active = true ORDER BY platform",
                "additionalFields": {
                    "queryParameters": "={{ JSON.stringify([$json.character_id]) }}"
                }
            },
            "id": "get-character-accounts",
            "name": "Get Character Accounts (All 6 Platforms)",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                600,
                500
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Build account map indexed by platform\nconst reel = $('Get Reel + Character').item.json;\nconst accounts = $input.all().map(i => i.json);\n\nconst accMap = {};\nfor (const acc of accounts) {\n  accMap[acc.platform] = acc;\n}\n\nconst requiredPlatforms = ['tiktok', 'instagram', 'youtube', 'line', 'facebook', 'niconico'];\nconst missing = requiredPlatforms.filter(p => !accMap[p]);\nif (missing.length > 0) {\n  console.warn('Missing accounts for: ' + missing.join(', '));\n}\n\nreturn {\n  reel_id: reel.id,\n  character_id: reel.character_id,\n  character_name: reel.character_name,\n  personality: reel.personality,\n  video_url: reel.video_url,\n  accounts: accMap,\n  platforms_ready: Object.keys(accMap),\n  timestamp: new Date().toISOString()\n};"
            },
            "id": "map-accounts",
            "name": "Map Accounts by Platform",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://ollama:11434/api/generate",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "llama3.2"
                        },
                        {
                            "name": "prompt",
                            "value": "=Generate platform-optimized captions for character '{{ $json.character_name }}' (personality: {{ $json.personality }}).\nRespond ONLY with valid JSON:\n{\n  \"tiktok\": \"max 150 chars + #fyp #viral #anime #japan\",\n  \"instagram\": \"max 200 chars + #reels #aiart #anime #japan\",\n  \"youtube\": \"max 300 chars for Shorts description\",\n  \"line\": \"short friendly message max 150 chars\",\n  \"facebook\": \"friendly post max 300 chars\",\n  \"niconico\": \"Japanese style description max 200 chars, use some Japanese if possible\"\n}"
                        },
                        {
                            "name": "stream",
                            "value": false
                        },
                        {
                            "name": "format",
                            "value": "json"
                        }
                    ]
                }
            },
            "id": "generate-captions",
            "name": "Generate Captions per Platform (Ollama)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://thumbnail-service:5000/generate",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "video_url",
                            "value": "={{ $('Get Reel + Character').item.json.video_url }}"
                        },
                        {
                            "name": "character_name",
                            "value": "={{ $('Get Reel + Character').item.json.character_name }}"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "id": "generate-thumbnail",
            "name": "Generate Thumbnail",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                500
            ]
        },
        {
            "parameters": {
                "mode": "waitForAll",
                "clashHandling": {
                    "values": {
                        "resolveClash": "preferInput1"
                    }
                }
            },
            "id": "merge-caption-thumb",
            "name": "Merge Captions + Thumbnail",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2.1,
            "position": [
                1200,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "const dist = $('Map Accounts by Platform').item.json;\nconst captionRaw = $('Generate Captions per Platform (Ollama)').item.json.response;\nconst thumbnailUrl = $('Generate Thumbnail').item.json.thumbnail_url || null;\n\nlet captions = {};\ntry {\n  const match = captionRaw.match(/\\{.*\\}/s);\n  if (match) captions = JSON.parse(match[0]);\n} catch(e) {\n  // Fallback captions if Ollama fails\n  const fallback = dist.character_name + ' ✨ New video! #anime #ai #waifugen';\n  for (const p of ['tiktok','instagram','youtube','discord','facebook','line']) {\n    captions[p] = fallback;\n  }\n}\n\nreturn {\n  ...dist,\n  captions,\n  thumbnail_url: thumbnailUrl\n};"
            },
            "id": "prepare-final-payload",
            "name": "Prepare Final Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1400,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://platform-poster:8080/api/tiktok/upload",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "video_url",
                            "value": "={{ $json.video_url }}"
                        },
                        {
                            "name": "caption",
                            "value": "={{ $json.captions.tiktok }}"
                        },
                        {
                            "name": "account_id",
                            "value": "={{ $json.accounts.tiktok.account_id }}"
                        },
                        {
                            "name": "access_token",
                            "value": "={{ $json.accounts.tiktok.access_token }}"
                        },
                        {
                            "name": "thumbnail_url",
                            "value": "={{ $json.thumbnail_url }}"
                        }
                    ]
                }
            },
            "id": "post-tiktok",
            "name": "Post → TikTok",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1650,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://platform-poster:8080/api/instagram/upload",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "video_url",
                            "value": "={{ $json.video_url }}"
                        },
                        {
                            "name": "caption",
                            "value": "={{ $json.captions.instagram }}"
                        },
                        {
                            "name": "account_id",
                            "value": "={{ $json.accounts.instagram.account_id }}"
                        },
                        {
                            "name": "access_token",
                            "value": "={{ $json.accounts.instagram.access_token }}"
                        },
                        {
                            "name": "thumbnail_url",
                            "value": "={{ $json.thumbnail_url }}"
                        }
                    ]
                }
            },
            "id": "post-instagram",
            "name": "Post → Instagram",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1650,
                230
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://platform-poster:8080/api/youtube/upload",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "video_url",
                            "value": "={{ $json.video_url }}"
                        },
                        {
                            "name": "title",
                            "value": "={{ $json.character_name + ' ✨ #Shorts' }}"
                        },
                        {
                            "name": "description",
                            "value": "={{ $json.captions.youtube }}"
                        },
                        {
                            "name": "account_id",
                            "value": "={{ $json.accounts.youtube.account_id }}"
                        },
                        {
                            "name": "access_token",
                            "value": "={{ $json.accounts.youtube.access_token }}"
                        },
                        {
                            "name": "thumbnail_url",
                            "value": "={{ $json.thumbnail_url }}"
                        }
                    ]
                }
            },
            "id": "post-youtube",
            "name": "Post → YouTube Shorts",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1650,
                360
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://platform-poster:8080/api/niconico/upload",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "video_url",
                            "value": "={{ $json.video_url }}"
                        },
                        {
                            "name": "title",
                            "value": "={{ $json.character_name + ' - ' + $json.captions.niconico.substring(0,30) }}"
                        },
                        {
                            "name": "description",
                            "value": "={{ $json.captions.niconico }}"
                        },
                        {
                            "name": "channel_id",
                            "value": "={{ $json.accounts.niconico.account_id }}"
                        },
                        {
                            "name": "access_token",
                            "value": "={{ $json.accounts.niconico.access_token }}"
                        },
                        {
                            "name": "thumbnail_url",
                            "value": "={{ $json.thumbnail_url }}"
                        },
                        {
                            "name": "tags",
                            "value": "anime,ai,japan,kawaii"
                        }
                    ]
                }
            },
            "id": "post-niconico",
            "name": "Post → Niconico",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1650,
                490
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://platform-poster:8080/api/facebook/upload",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "video_url",
                            "value": "={{ $json.video_url }}"
                        },
                        {
                            "name": "caption",
                            "value": "={{ $json.captions.facebook }}"
                        },
                        {
                            "name": "page_id",
                            "value": "={{ $json.accounts.facebook.account_id }}"
                        },
                        {
                            "name": "access_token",
                            "value": "={{ $json.accounts.facebook.access_token }}"
                        },
                        {
                            "name": "thumbnail_url",
                            "value": "={{ $json.thumbnail_url }}"
                        }
                    ]
                }
            },
            "id": "post-facebook",
            "name": "Post → Facebook",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1650,
                620
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://platform-poster:8080/api/line/broadcast",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "video_url",
                            "value": "={{ $json.video_url }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.captions.line }}"
                        },
                        {
                            "name": "channel_id",
                            "value": "={{ $json.accounts.line.account_id }}"
                        },
                        {
                            "name": "channel_secret",
                            "value": "={{ $json.accounts.line.access_token }}"
                        },
                        {
                            "name": "thumbnail_url",
                            "value": "={{ $json.thumbnail_url }}"
                        }
                    ]
                }
            },
            "id": "post-line",
            "name": "Post → LINE",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1650,
                750
            ]
        },
        {
            "parameters": {
                "mode": "waitForAll",
                "clashHandling": {
                    "values": {
                        "resolveClash": "preferInput1"
                    }
                }
            },
            "id": "merge-results",
            "name": "Merge All Platform Results",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2.1,
            "position": [
                1900,
                420
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE reels SET status = 'published', published_at = NOW() WHERE id = $1 RETURNING *; UPDATE social_accounts SET daily_post_count = daily_post_count + 1, last_posted_at = NOW() WHERE character_id = $2 AND is_active = true;",
                "additionalFields": {
                    "queryParameters": "={{ JSON.stringify([$('Map Accounts by Platform').item.json.reel_id, $('Map Accounts by Platform').item.json.character_id]) }}"
                }
            },
            "id": "update-db",
            "name": "Update DB (Reel + Account Stats)",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                2100,
                420
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.TELEGRAM_BOT_URL }}/sendMessage",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "chat_id",
                            "value": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}"
                        },
                        {
                            "name": "parse_mode",
                            "value": "HTML"
                        },
                        {
                            "name": "text",
                            "value": "=✅ <b>Reel Publicado - {{ $('Map Accounts by Platform').item.json.character_name }}</b>\n\n📋 Reel ID: {{ $('Map Accounts by Platform').item.json.reel_id }}\n🎬 Video: {{ $('Map Accounts by Platform').item.json.video_url }}\n\n📤 Plataformas publicadas:\n• TikTok ✅\n• Instagram ✅\n• YouTube Shorts ✅\n• Discord ✅\n• Facebook ✅\n• LINE ✅\n\n⏰ {{ new Date().toISOString() }}"
                        }
                    ]
                }
            },
            "id": "notify-success",
            "name": "Notify Success (Telegram)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2300,
                420
            ]
        }
    ],
    "connections": {
        "Webhook (Approve Reel)": {
            "main": [
                [
                    {
                        "node": "Get Reel + Character",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Reel + Character": {
            "main": [
                [
                    {
                        "node": "Get Character Accounts (All 6 Platforms)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Character Accounts (All 6 Platforms)": {
            "main": [
                [
                    {
                        "node": "Map Accounts by Platform",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Map Accounts by Platform": {
            "main": [
                [
                    {
                        "node": "Generate Captions per Platform (Ollama)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Generate Thumbnail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Captions per Platform (Ollama)": {
            "main": [
                [
                    {
                        "node": "Merge Captions + Thumbnail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Thumbnail": {
            "main": [
                [
                    {
                        "node": "Merge Captions + Thumbnail",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Captions + Thumbnail": {
            "main": [
                [
                    {
                        "node": "Prepare Final Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Final Payload": {
            "main": [
                [
                    {
                        "node": "Post → TikTok",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Post → Instagram",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Post → YouTube Shorts",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Post → Discord",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Post → Facebook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Post → LINE",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Post → TikTok": {
            "main": [
                [
                    {
                        "node": "Merge All Platform Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Post → Instagram": {
            "main": [
                [
                    {
                        "node": "Merge All Platform Results",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Post → YouTube Shorts": {
            "main": [
                [
                    {
                        "node": "Merge All Platform Results",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Post → Niconico": {
            "main": [
                [
                    {
                        "node": "Merge All Platform Results",
                        "type": "main",
                        "index": 3
                    }
                ]
            ]
        },
        "Post → Facebook": {
            "main": [
                [
                    {
                        "node": "Merge All Platform Results",
                        "type": "main",
                        "index": 4
                    }
                ]
            ]
        },
        "Post → LINE": {
            "main": [
                [
                    {
                        "node": "Merge All Platform Results",
                        "type": "main",
                        "index": 5
                    }
                ]
            ]
        },
        "Merge All Platform Results": {
            "main": [
                [
                    {
                        "node": "Update DB (Reel + Account Stats)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update DB (Reel + Account Stats)": {
            "main": [
                [
                    {
                        "node": "Notify Success (Telegram)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "saveExecutionProgress": true
    }
}