n8n_workflows/01_daily_professional_reel_final.json
{
    "name": "FASE 1 - Daily Professional Reel Generator",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 0,4,10,13 * * *"
                        }
                    ]
                },
                "timezone": "Asia/Tokyo"
            },
            "id": "trigger-daily-4x",
            "name": "Trigger 4x Daily (JST)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                200,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "const hour = new Date().getUTCHours();\nconst slots = {\n  0: { time_jst: '08:00', character_id: 1, platform: 'tiktok', theme: 'Morning motivation', style: 'energetic_upbeat', music_genre: 'upbeat', energy: 'high' },\n  4: { time_jst: '12:00', character_id: 16, platform: 'instagram', theme: 'Midday inspiration', style: 'emotional_soft', music_genre: 'lofi', energy: 'medium' },\n  10: { time_jst: '18:00', character_id: 10, platform: 'youtube', theme: 'Evening entertainment', style: 'cyber_energetic', music_genre: 'electronic', energy: 'high' },\n  13: { time_jst: '21:00', character_id: 5, platform: 'tiktok', theme: 'Night reflection', style: 'professional_elegant', music_genre: 'chill', energy: 'low' }\n};\nreturn { slot: slots[hour] || slots[0], timestamp: new Date().toISOString() };"
            },
            "id": "determine-slot",
            "name": "Determine Content Slot",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                400
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT id, name, trigger_word, age, style, personality, voice_settings FROM characters WHERE id = {{ $json.slot.character_id }} AND active = true LIMIT 1",
                "options": {}
            },
            "id": "get-character",
            "name": "Get Character from PostgreSQL",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                600,
                400
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://ollama:11434/api/generate",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "llama3"
                        },
                        {
                            "name": "prompt",
                            "value": "=As an expert director, generate a high-conversion video prompt for A2E (max 60 words):\n\nCharacter: {{ $('Get Character from PostgreSQL').item.json.name }}\nContext: {{ $('Get Character from PostgreSQL').item.json.personality }}\nNiches: {{ $('Get Character from PostgreSQL').item.json.niches.join(', ') }}\nVisual Hooks: {{ $('Get Character from PostgreSQL').item.json.visual_hooks.join(', ') }}\nTrigger: {{ $('Get Character from PostgreSQL').item.json.trigger_word }}\nPlatform: {{ $('Determine Content Slot').item.json.slot.platform }}\n\nRequirements: Cinematic 4k, extreme detail, soft studio lighting, focused on '{{ $('Get Character from PostgreSQL').item.json.trigger_word }}', {{ $('Get Character from PostgreSQL').item.json.visual_hooks[0] }}. 9:16 vertical."
                        },
                        {
                            "name": "stream",
                            "value": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "gen-video-prompt",
            "name": "Generate Video Prompt (Ollama)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                800,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://ollama:11434/api/generate",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "llama3"
                        },
                        {
                            "name": "prompt",
                            "value": "=Write a viral 10s script (max 20 words) for {{ $('Get Character from PostgreSQL').item.json.name }}:\n\nRole: {{ $('Get Character from PostgreSQL').item.json.personality }}\nStyle: {{ $('Determine Content Slot').item.json.slot.style }}\nEngagement Hooks: {{ $('Get Character from PostgreSQL').item.json.engagement_hooks[0] }}\n\nStructure:\n1. 2s Hook: Catch attention immediately.\n2. 6s Core: Relatable or aspirational message.\n3. 2s CTA: Clear call to action.\n\nUse first person, natural tone, NO emojis in text (will be added via subs)."
                        },
                        {
                            "name": "stream",
                            "value": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "gen-voice-script",
            "name": "Generate Voice Script (Ollama)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                800,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.A2E_API_URL || 'https://api.a2e.ai/v1/generate' }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "prompt",
                            "value": "={{ $('Generate Video Prompt (Ollama)').item.json.response }}"
                        },
                        {
                            "name": "duration",
                            "value": 15
                        },
                        {
                            "name": "model",
                            "value": "seedance_1.5_pro"
                        },
                        {
                            "name": "resolution",
                            "value": "720p"
                        },
                        {
                            "name": "aspect_ratio",
                            "value": "9:16"
                        },
                        {
                            "name": "fps",
                            "value": 30
                        },
                        {
                            "name": "motion_bucket",
                            "value": 127
                        },
                        {
                            "name": "cfg_scale",
                            "value": 1.5
                        }
                    ]
                },
                "options": {
                    "timeout": 300000
                }
            },
            "id": "gen-video-a2e",
            "name": "Generate Video (A2E Pro - 15 credits)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "a2e_api_key",
                    "name": "A2E API Key"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://waifugen_piper:5000/api/tts",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "text",
                            "value": "={{ $('Generate Voice Script (Ollama)').item.json.response }}"
                        },
                        {
                            "name": "model",
                            "value": "en_US-amy-medium"
                        },
                        {
                            "name": "speed",
                            "value": 1.0
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "gen-voice-piper",
            "name": "Generate Voice (Piper TTS)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                500
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://pixabay.com/api/?key={{ $env.PIXABAY_API_KEY }}&q={{ $('Determine Content Slot').item.json.slot.music_genre }}+instrumental+music&type=music&per_page=5",
                "options": {}
            },
            "id": "search-music-pixabay",
            "name": "Search Music (Pixabay Free)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                700
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-music",
                            "leftValue": "={{ $json.total }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-music",
            "name": "Check Pixabay Results",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1200,
                700
            ]
        },
        {
            "parameters": {
                "url": "={{ $('Search Music (Pixabay Free)').item.json.hits[0].audio }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "download-music-pixabay",
            "name": "Download Music (Pixabay)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1400,
                600
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.replicate.com/v1/predictions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "version",
                            "value": "b05b1dff1d8c6dc63d14b0cdb42135378dcb87f6373b0d3d341ede46e59e2b38"
                        },
                        {
                            "name": "input",
                            "value": "={{ { 'prompt': 'Professional ' + $('Get Character from PostgreSQL').item.json.audio_preferences.primary_genres[0] + ' background music, high fidelity, viral production, ' + $('Get Character from PostgreSQL').item.json.audio_preferences.bpm_range[0] + '-' + $('Get Character from PostgreSQL').item.json.audio_preferences.bpm_range[1] + ' BPM, loopable, no vocals', 'duration': 15, 'model_version': 'stereo-large', 'output_format': 'mp3' } }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "gen-music-replicate",
            "name": "Generate Music (Replicate Fallback)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1400,
                800
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "replicate_api_token",
                    "name": "Replicate API Token"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Security: Sanitize text to prevent command injection\nconst voiceScript = $('Generate Voice Script (Ollama)').item.json.response;\nconst videoPrompt = $('Generate Video Prompt (Ollama)').item.json.response;\nconst characterName = $('Get Character from PostgreSQL').item.json.name;\n\n// Escape single quotes, double quotes, backticks, and special chars\nconst sanitize = (text) => {\n  return text\n    .replace(/'/g, \"'\\\\''\")\n    .replace(/\"/g, '\\\\\"')\n    .replace(/`/g, '\\\\`')\n    .replace(/\\$/g, '\\\\$')\n    .replace(/\\n/g, ' ')\n    .trim();\n};\n\nreturn {\n  subtitle_text_safe: sanitize(voiceScript),\n  video_prompt_safe: sanitize(videoPrompt),\n  character_name_safe: sanitize(characterName),\n  timestamp: $('Determine Content Slot').item.json.timestamp,\n  video_url: $('Generate Video (A2E Pro - 15 credits)').item.json.video_url,\n  voice_file: $('Generate Voice (Piper TTS)').item.binary.fileName,\n  music_url: $('Generate Music (Replicate Fallback)').item.json.output,\n  char_id: $('Get Character from PostgreSQL').item.json.id,\n  platform: $('Determine Content Slot').item.json.slot.platform\n};"
            },
            "id": "sanitize-text",
            "name": "Sanitize Text (Security)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1400,
                500
            ],
            "notes": "Prevents command injection by escaping quotes and special chars"
        },
        {
            "parameters": {
                "command": "=# EXPERT MONTAGE: Cinematic Color, Audio Ducking, and High-Impact Subs\ncd /tmp\n\n# Variables\nVIDEO_URL='{{ $json.video_url }}'\nVOICE_FILE='{{ $json.voice_file }}'\nMUSIC_URL='{{ $json.music_url }}'\nSUBTITLE_TEXT='{{ $json.subtitle_text_safe }}'\nCHAR_ID='{{ $json.char_id }}'\n\n# Download Assets\nwget -O raw_v.mp4 \"$VIDEO_URL\"\nwget -O bg_m.mp3 \"$MUSIC_URL\"\n\n# Generate SRT with High Visibility style\ncat > s.srt << EOF\n1\n00:00:00,300 --> 00:00:09,800\n$SUBTITLE_TEXT\nEOF\n\n# FFmpeg Elite Pipeline\n# - zoompan: subtle slow zoom for life\n# - unsharp: pixel-perfect clarity\n# - vignette: focus on subject\n# - curves: professional color grading (vintage look)\n# - sidechaincompress: music ducks automatically when voice is present\nffmpeg -y \\\n  -i raw_v.mp4 \\\n  -i \"$VOICE_FILE\" \\\n  -i bg_m.mp3 \\\n  -vf \"\\\n    zoompan=z='min(zoom+0.0006,1.1)':d=450:s=720x1280,\\\n    unsharp=5:5:0.8:5:5:0.8,\\\n    vignette=PI/5,\\\n    curves=preset=vintage,\\\n    subtitles=s.srt:force_style='FontName=Montserrat ExtraBold,FontSize=30,PrimaryColour=&H00FFFF,BorderStyle=4,Outline=2.5,Shadow=1.5,MarginV=65,Alignment=2'\\\n  \" \\\n  -filter_complex \"\\\n    [2:a][1:a]sidechaincompress=threshold=0.1:ratio=25:attack=5:release=150[bg_ducked];\\\n    [1:a]volume=1.3[v_boosted];\\\n    [v_boosted][bg_ducked]amix=inputs=2:duration=first:dropout_transition=2[a_final]\\\n  \" \\\n  -map 0:v -map '[a_final]' \\\n  -c:v libx264 -preset medium -crf 19 -c:a aac -b:a 192k \\\n  \"reel_${CHAR_ID}_pro_$(date +%s).mp4\"\n\necho \"✓ Elite Production Complete\""
            },
            "id": "ffmpeg-pro-montage",
            "name": "FFmpeg Professional Montage (Secured)",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                1650,
                500
            ],
            "notes": "Includes: Subtitles, Zoom, Color grading, Audio EQ, Compression - WITH SECURITY FIX"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=INSERT INTO reels (\n  character_id, \n  video_prompt, \n  voice_script, \n  theme, \n  mood, \n  platform, \n  duration, \n  video_path, \n  nsfw_level, \n  credits_used, \n  cost_usd, \n  status, \n  has_subtitles, \n  has_music, \n  production_quality,\n  created_at\n) VALUES (\n  {{ $('Get Character from PostgreSQL').item.json.id }},\n  '{{ $('Generate Video Prompt (Ollama)').item.json.response }}',\n  '{{ $('Generate Voice Script (Ollama)').item.json.response }}',\n  '{{ $('Determine Content Slot').item.json.slot.theme }}',\n  '{{ $('Determine Content Slot').item.json.slot.style }}',\n  '{{ $('Determine Content Slot').item.json.slot.platform }}',\n  15,\n  '/tmp/reel_{{ $('Get Character from PostgreSQL').item.json.id }}_{{ $('Determine Content Slot').item.json.slot.platform }}_*.mp4',\n  0,\n  15,\n  0.0825,\n  'ready_to_publish',\n  true,\n  true,\n  'professional',\n  NOW()\n) RETURNING id, video_path",
                "options": {}
            },
            "id": "save-reel-db",
            "name": "Save Reel to PostgreSQL",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                1800,
                500
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.TELEGRAM_BOT_URL }}/sendMessage",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "chat_id",
                            "value": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}"
                        },
                        {
                            "name": "text",
                            "value": "=✅ *Professional Reel Generated*\\n\\n🎭 *Character:* {{ $('Get Character from PostgreSQL').item.json.name }}\\n🎬 *Theme:* {{ $('Determine Content Slot').item.json.slot.theme }}\\n📱 *Platform:* {{ $('Determine Content Slot').item.json.slot.platform }}\\n⏰ *Time:* {{ $('Determine Content Slot').item.json.slot.time_jst }} JST\\n💰 *Credits:* 15 (Daily budget: 60)\\n\\n📊 *Features:*\\n• Professional subtitles ✓\\n• Background music ✓\\n• Color grading ✓\\n• Zoom effects ✓\\n• Audio EQ ✓\\n\\n📁 *Path:* {{ $('Save Reel to PostgreSQL').item.json.video_path }}\\n🆔 *DB ID:* {{ $('Save Reel to PostgreSQL').item.json.id }}"
                        },
                        {
                            "name": "parse_mode",
                            "value": "Markdown"
                        }
                    ]
                },
                "options": {}
            },
            "id": "notify-telegram",
            "name": "Telegram Notification",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2000,
                500
            ]
        }
    ],
    "connections": {
        "Trigger 4x Daily (JST)": {
            "main": [
                [
                    {
                        "node": "Determine Content Slot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Determine Content Slot": {
            "main": [
                [
                    {
                        "node": "Get Character from PostgreSQL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Character from PostgreSQL": {
            "main": [
                [
                    {
                        "node": "Generate Video Prompt (Ollama)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Generate Voice Script (Ollama)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Video Prompt (Ollama)": {
            "main": [
                [
                    {
                        "node": "Generate Video (A2E Pro - 15 credits)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Voice Script (Ollama)": {
            "main": [
                [
                    {
                        "node": "Generate Voice (Piper TTS)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Generate Music (Replicate Fallback)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Video (A2E Pro - 15 credits)": {
            "main": [
                [
                    {
                        "node": "Sanitize Text (Security)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Voice (Piper TTS)": {
            "main": [
                [
                    {
                        "node": "Sanitize Text (Security)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Music (Replicate Fallback)": {
            "main": [
                [
                    {
                        "node": "Sanitize Text (Security)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sanitize Text (Security)": {
            "main": [
                [
                    {
                        "node": "FFmpeg Professional Montage (Secured)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FFmpeg Professional Montage (Secured)": {
            "main": [
                [
                    {
                        "node": "Save Reel to PostgreSQL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Reel to PostgreSQL": {
            "main": [
                [
                    {
                        "node": "Telegram Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "createdAt": "2026-01-24T19:48:00.000Z",
    "updatedAt": "2026-01-24T19:48:00.000Z",
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "Phase 1",
            "id": "phase1"
        },
        {
            "name": "Production",
            "id": "production"
        },
        {
            "name": "Professional",
            "id": "professional"
        }
    ],
    "triggerCount": 1,
    "versionId": "1",
    "meta": {
        "instanceId": "waifugen_production"
    }
}
