n8n_workflows/01_daily_content_generator.json
{
    "name": "Daily Content Generator - WaifuGen Phase 1",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 0,6,12,18 * * *"
                        }
                    ]
                }
            },
            "id": "trigger-4x-daily",
            "name": "Trigger 4x Daily (00:00, 06:00, 12:00, 18:00 UTC)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT id, name, trigger_word, age, style FROM characters WHERE active = true ORDER BY RANDOM() LIMIT 1",
                "options": {}
            },
            "id": "select-character",
            "name": "Select Random Character",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                450,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://waifugen_ollama:11434/api/generate",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "llama3"
                        },
                        {
                            "name": "prompt",
                            "value": "=Generate a creative A2E video prompt for a 15-second TikTok reel.\\n\\nCharacter: {{ $json.name }}, {{ $json.age }} years old\\nStyle: {{ $json.style }}\\nTrigger word: {{ $json.trigger_word }}\\nPlatform: TikTok (9:16 vertical)\\nMood: Morning motivation\\n\\nGenerate ONLY the prompt text, no explanations. Keep it under 60 words, focus on visual details."
                        },
                        {
                            "name": "stream",
                            "value": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "generate-prompt-ollama",
            "name": "Generate Prompt with Ollama",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const response = $input.item.json.response;\\nconst character = $('Select Random Character').item.json;\\n\\nreturn {\\n  character_id: character.id,\\n  character_name: character.name,\\n  prompt: response.trim(),\\n  video_duration: 15,\\n  platform: 'tiktok'\\n};"
            },
            "id": "process-prompt",
            "name": "Process Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.A2E_API_URL || 'https://api.a2e.ai/v1/generate' }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "prompt",
                            "value": "={{ $json.prompt }}"
                        },
                        {
                            "name": "duration",
                            "value": "={{ $json.video_duration }}"
                        },
                        {
                            "name": "model",
                            "value": "seedance_1.5_pro"
                        },
                        {
                            "name": "resolution",
                            "value": "720p"
                        },
                        {
                            "name": "aspect_ratio",
                            "value": "9:16"
                        }
                    ]
                },
                "options": {}
            },
            "id": "generate-video-a2e",
            "name": "Generate Video with A2E",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1050,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "a2e_api_key",
                    "name": "A2E API Key"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://waifugen_piper:10200/api/tts",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "text",
                            "value": "=Good morning! I'm {{ $('Select Random Character').item.json.name }}. Today is going to be amazing. Let's make it happen!"
                        },
                        {
                            "name": "model",
                            "value": "en_US-amy-medium"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "generate-voice-piper",
            "name": "Generate Voice with Piper TTS",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1050,
                500
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=INSERT INTO reels (character_id, prompt, video_url, voice_url, platform, duration, status, created_at)\\nVALUES ({{ $json.character_id }}, '{{ $json.prompt }}', '{{ $('Generate Video with A2E').item.json.video_url }}', '/tmp/voice_{{ $json.character_id }}.wav', '{{ $json.platform }}', {{ $json.video_duration }}, 'pending_edit', NOW())\\nRETURNING id",
                "options": {}
            },
            "id": "save-to-database",
            "name": "Save Reel to PostgreSQL",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                1250,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.TELEGRAM_BOT_URL }}/sendMessage",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "chat_id",
                            "value": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}"
                        },
                        {
                            "name": "text",
                            "value": "=✅ Reel generado\\n\\nID: {{ $('Save Reel to PostgreSQL').item.json.id }}\\nPersonaje: {{ $('Select Random Character').item.json.name }}\\nPlataforma: TikTok\\nDuración: 15s\\n\\nPendiente: Montaje final"
                        }
                    ]
                },
                "options": {}
            },
            "id": "notify-telegram",
            "name": "Notify via Telegram",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1450,
                300
            ]
        }
    ],
    "connections": {
        "Trigger 4x Daily (00:00, 06:00, 12:00, 18:00 UTC)": {
            "main": [
                [
                    {
                        "node": "Select Random Character",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Select Random Character": {
            "main": [
                [
                    {
                        "node": "Generate Prompt with Ollama",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Prompt with Ollama": {
            "main": [
                [
                    {
                        "node": "Process Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Prompt": {
            "main": [
                [
                    {
                        "node": "Generate Video with A2E",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Generate Voice with Piper TTS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Video with A2E": {
            "main": [
                [
                    {
                        "node": "Save Reel to PostgreSQL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Reel to PostgreSQL": {
            "main": [
                [
                    {
                        "node": "Notify via Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "createdAt": "2026-01-24T19:22:00.000Z",
    "updatedAt": "2026-01-24T19:22:00.000Z",
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "Phase 1",
            "id": "phase1"
        },
        {
            "name": "Production",
            "id": "production"
        }
    ],
    "triggerCount": 1,
    "versionId": "1"
}