n8n_workflows/02_social_media_poster.json
{
    "name": "02_social_media_poster",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "publish-reel",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook (Publish Reel)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT * FROM reels WHERE id = {{ $json.body.reel_id }}",
                "options": {}
            },
            "id": "get-reel-data",
            "name": "Get Reel Data",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                450,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "command": "=python3 src/processing/post_reel_bridge.py --video_path \"{{ $json.video_url }}\" --caption \"{{ $json.prompt.substring(0, 100) }}...\" --tags \"anime,aiart,waifu\" --character \"{{ $json.character_id }}\""
            },
            "id": "execute-post-script",
            "name": "Execute Post Script",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.TELEGRAM_BOT_URL }}/sendMessage",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "chat_id",
                            "value": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}"
                        },
                        {
                            "name": "text",
                            "value": "=✅ <b>Post Publicado con Éxito!</b>\n\nEl reel {{ $('Get Reel Data').item.json.id }} ha sido enviado a las redes."
                        },
                        {
                            "name": "parse_mode",
                            "value": "HTML"
                        }
                    ]
                },
                "options": {}
            },
            "id": "notify-success",
            "name": "Notify Success",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE reels SET status = 'published', published_at = NOW() WHERE id = {{ $('Get Reel Data').item.json.id }}",
                "options": {}
            },
            "id": "update-status",
            "name": "Update Status to Published",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                850,
                500
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "reject-reel",
                "options": {}
            },
            "id": "webhook-reject",
            "name": "Webhook (Reject Reel)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                250,
                100
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE reels SET status = 'rejected' WHERE id = {{ $json.body.reel_id }}",
                "options": {}
            },
            "id": "update-reject",
            "name": "Update Status to Rejected",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                450,
                100
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        }
    ],
    "connections": {
        "Webhook (Publish Reel)": {
            "main": [
                [
                    {
                        "node": "Get Reel Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Reel Data": {
            "main": [
                [
                    {
                        "node": "Execute Post Script",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Post Script": {
            "main": [
                [
                    {
                        "node": "Notify Success",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Update Status to Published",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook (Reject Reel)": {
            "main": [
                [
                    {
                        "node": "Update Status to Rejected",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}