n8n_workflows/02_weekly_premium_generator.json
{
    "name": "02 - Weekly Premium Content Generator",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 12 * * 0"
                        }
                    ]
                }
            },
            "id": "trigger-weekly-sunday",
            "name": "Trigger Weekly Sunday 12:00 JST",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Weekly character rotation: Elite 8\nconst characters = [\n  { id: 1, name: 'Miyuki Sakura', trigger_word: 'miysak_v1', style: 'cute girlfriend' },\n  { id: 16, name: 'Hana Nakamura', trigger_word: 'hannak_v1', style: 'emotional romantic' },\n  { id: 10, name: 'Airi Neo', trigger_word: 'airneo_v1', style: 'cyber futuristic' },\n  { id: 5, name: 'Aiko Hayashi', trigger_word: 'aikoch_v1', style: 'professional elegant' },\n  { id: 19, name: 'Rio Mizuno', trigger_word: 'riomiz_v1', style: 'beach aesthetic' },\n  { id: 15, name: 'Chiyo Sasaki', trigger_word: 'chisas_v1', style: 'mature sophisticated' },\n  { id: 20, name: 'Mika Sweet', trigger_word: 'mikswt_v1', style: 'sweet playful' },\n  { id: 21, name: 'Momoka AV', trigger_word: 'momkav_v1', style: 'provocative bold' }\n];\n\n// Calculate week number (1-8 cycle)\nconst weekNumber = Math.floor((Date.now() / (7 * 24 * 60 * 60 * 1000))) % 8;\nconst selectedCharacter = characters[weekNumber];\n\nreturn {\n  character_id: selectedCharacter.id,\n  character_name: selectedCharacter.name,\n  trigger_word: selectedCharacter.trigger_word,\n  character_style: selectedCharacter.style,\n  week_number: weekNumber + 1,\n  production_tier: 'premium'\n};"
            },
            "id": "select-weekly-character",
            "name": "Select Weekly Character (Elite 8 Rotation)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://waifugen_ollama:11434/api/generate",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "llama3"
                        },
                        {
                            "name": "prompt",
                            "value": "=Generate a PREMIUM A2E video prompt for a 15-second featured reel (weekly highlight).\\n\\nCharacter: {{ $json.character_name }}\\nStyle: {{ $json.character_style }}\\nTrigger word: {{ $json.trigger_word }}\\nPlatform: Cross-platform (TikTok, Instagram, YouTube)\\nAspect: 9:16 vertical\\nQuality: PREMIUM (wan_2.5 model, 1080p)\\nTheme: Weekly Featured Content - Make it CINEMATIC and visually stunning\\n\\nGenerate ONLY the prompt text (60 words max). Focus on: cinematic lighting, dynamic camera angles, high detail, professional quality."
                        },
                        {
                            "name": "stream",
                            "value": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "generate-premium-prompt",
            "name": "Generate Premium Prompt (Ollama)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const response = $input.item.json.response;\\ncons character = $('Select Weekly Character (Elite 8 Rotation)').item.json;\\n\\n// Sanitize text\\nconst sanitizeText = (text) => {\\n  if (!text) return '';\\n  return text.replace(/'/g, \\\"''\\\").replace(/\\\\\\\\/g, '\\\\\\\\\\\\\\\\').trim();\\n};\\n\\nreturn {\\n  character_id: character.character_id,\\n  character_name: character.character_name,\\n  prompt: sanitizeText(response),\\n  video_duration: 15,\\n  platform: 'cross_platform',\\n  quality_tier: 'premium'\\n};"
            },
            "id": "process-premium-prompt",
            "name": "Process & Sanitize Premium Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.A2E_API_URL || 'https://api.a2e.ai/v1/generate' }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "prompt",
                            "value": "={{ $json.prompt }}"
                        },
                        {
                            "name": "duration",
                            "value": "={{ $json.video_duration }}"
                        },
                        {
                            "name": "model",
                            "value": "wan_2.5"
                        },
                        {
                            "name": "resolution",
                            "value": "1080p"
                        },
                        {
                            "name": "aspect_ratio",
                            "value": "9:16"
                        }
                    ]
                },
                "options": {}
            },
            "id": "generate-premium-video",
            "name": "Generate Premium Video (A2E wan_2.5 1080p)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1050,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "a2e_api_key",
                    "name": "A2E API Key"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=INSERT INTO reels (character_id, prompt, video_url, platform, duration, quality_tier, nsfw_level, status, created_at)\\nVALUES ({{ $json.character_id }}, '{{ $('Process & Sanitize Premium Prompt').item.json.prompt }}', '{{ $('Generate Premium Video (A2E wan_2.5 1080p)').item.json.video_url }}', 'cross_platform', {{ $json.video_duration }}, 'premium', 0, 'ready_to_publish', NOW())\\nRETURNING id",
                "options": {}
            },
            "id": "save-premium-reel",
            "name": "Save Premium Reel to PostgreSQL",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                1250,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.TELEGRAM_BOT_URL }}/sendMessage",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "chat_id",
                            "value": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}"
                        },
                        {
                            "name": "text",
                            "value": "=🌟 PREMIUM REEL SEMANAL GENERADO\\n\\n📋 ID: {{ $('Save Premium Reel to PostgreSQL').item.json.id }}\\n👤 Personaje: {{ $('Select Weekly Character (Elite 8 Rotation)').item.json.character_name }}\\n🎬 Modelo: wan_2.5 (1080p Premium)\\n📊 Semana: {{ $('Select Weekly Character (Elite 8 Rotation)').item.json.week_number }}/8\\n⏱️ Duración: 15s\\n🌐 Plataformas: TikTok, Instagram, YouTube\\n\\n✅ Estado: Listo para publicar"
                        }
                    ]
                },
                "options": {}
            },
            "id": "notify-premium-telegram",
            "name": "Notify Premium Reel via Telegram",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1450,
                300
            ]
        }
    ],
    "connections": {
        "Trigger Weekly Sunday 12:00 JST": {
            "main": [
                [
                    {
                        "node": "Select Weekly Character (Elite 8 Rotation)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Select Weekly Character (Elite 8 Rotation)": {
            "main": [
                [
                    {
                        "node": "Generate Premium Prompt (Ollama)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Premium Prompt (Ollama)": {
            "main": [
                [
                    {
                        "node": "Process & Sanitize Premium Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process & Sanitize Premium Prompt": {
            "main": [
                [
                    {
                        "node": "Generate Premium Video (A2E wan_2.5 1080p)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Premium Video (A2E wan_2.5 1080p)": {
            "main": [
                [
                    {
                        "node": "Save Premium Reel to PostgreSQL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Premium Reel to PostgreSQL": {
            "main": [
                [
                    {
                        "node": "Notify Premium Reel via Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "createdAt": "2026-01-25T00:00:00.000Z",
    "updatedAt": "2026-01-25T00:00:00.000Z",
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "Phase 1",
            "id": "phase1"
        },
        {
            "name": "Premium",
            "id": "premium"
        },
        {
            "name": "Weekly",
            "id": "weekly"
        }
    ],
    "triggerCount": 1,
    "versionId": "1"
}