n8n_workflows/03_comment_auto_reply.json
{
    "name": "03 - Comment Auto-Reply System",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 5
                        }
                    ]
                }
            },
            "id": "trigger-every-5-minutes",
            "name": "Trigger Every 5 Minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT c.id as comment_id, c.platform, c.post_id, c.user_name, c.comment_text, c.created_at, r.character_id, ch.name as character_name, ch.personality\\nFROM social_comments c\\nJOIN reels r ON c.post_id = r.id\\nJOIN characters ch ON r.character_id = ch.id\\nWHERE c.replied = false AND c.created_at > NOW() - INTERVAL '30 minutes'\\nORDER BY c.created_at DESC\\nLIMIT 10",
                "options": {}
            },
            "id": "get-unanswered-comments",
            "name": "Get Unanswered Comments (Last 30min)",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                450,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.count }}",
                            "operation": "larger",
                            "value2": 0
                        }
                    ]
                }
            },
            "id": "check-if-comments-exist",
            "name": "Check If Comments Exist",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://ollama:11434/api/generate",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "llama3"
                        },
                        {
                            "name": "prompt",
                            "value": "=Analyze the sentiment of this comment:\\n\\nComment: '{{ $json.comment_text }}'\\n\\nRespond with ONLY ONE WORD: positive, neutral, or negative.\\nNo explanations, just the sentiment."
                        },
                        {
                            "name": "stream",
                            "value": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "analyze-sentiment-ollama",
            "name": "Analyze Comment Sentiment (Ollama)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                850,
                250
            ]
        },
        {
            "parameters": {
                "jsCode": "// Character personality contexts and signature phrases\\nconst characterContexts = {\\n  'Miyuki Sakura': {\\n    personality: 'sweet, encouraging, cute girlfriend experience',\\n    signature_phrases: ['Thank you so much! 💕', \\\"You're so sweet!\\\", 'Stay positive!', 'Love you! 🥰'],\\n    emoji_usage: 'high',\\n    emojis: ['💕', '🌸', '✨', '😊', '🥰', '💖']\\n  },\\n  'Hana Nakamura': {\\n    personality: 'gentle, nurturing, emotional romantic',\\n    signature_phrases: ['That means a lot 💕', 'Thank you for sharing', 'Sending love 🌸'],\\n    emoji_usage: 'high',\\n    emojis: ['💕', '🌸', '🥺', '💗', '✨']\\n  },\\n  'Airi Neo': {\\n    personality: 'futuristic, energetic, tech-savvy cyber AI',\\n    signature_phrases: ['That\\'s awesome!', 'Let\\'s go!', 'Future is NOW! 🔮', 'Cyber love! ⚡'],\\n    emoji_usage: 'medium',\\n    emojis: ['⚡', '🤖', '💫', '🔮', '👾', '💜']\\n  },\\n  'Aiko Hayashi': {\\n    personality: 'professional, elegant, sophisticated businesswoman',\\n    signature_phrases: ['I appreciate that 💼', 'Thank you for your support ✨', 'You\\'re wonderful'],\\n    emoji_usage: 'low',\\n    emojis: ['💼', '✨', '💕', '🌹']\\n  }\\n};\\n\\nconst character = $json.character_name;\\nconst context = characterContexts[character] || characterContexts['Miyuki Sakura'];\\nconst sentiment = $('Analyze Comment Sentiment (Ollama)').item.json.response.trim().toLowerCase();\\n\\nreturn {\\n  ...$json,\\n  sentiment: sentiment,\\n  character_context: context\\n};"
            },
            "id": "process-character-context",
            "name": "Process Character Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1050,
                250
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://ollama:11434/api/generate",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "llama3"
                        },
                        {
                            "name": "prompt",
                            "value": "=You are {{ $json.character_name }}, an AI character with this personality: {{ $json.character_context.personality }}.\\n\\nA fan commented on your video: \\\"{{ $json.comment_text }}\\\"\\n\\nSentiment: {{ $json.sentiment }}\\n\\nYour signature phrases: {{ $json.character_context.signature_phrases.join(', ') }}\\n\\nGenerate a SHORT, authentic reply (max 25 words) in first person as {{ $json.character_name }}. Be warm, genuine, and match the sentiment. Use 1-2 emojis from: {{ $json.character_context.emojis.join(' ') }}\\n\\nReply ONLY with the response text, no quotes or explanations."
                        },
                        {
                            "name": "stream",
                            "value": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "generate-reply-ollama",
            "name": "Generate Reply (Ollama with Character Context)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1250,
                250
            ]
        },
        {
            "parameters": {
                "jsCode": "// Sanitize reply text\\nconst sanitizeText = (text) => {\\n  if (!text) return '';\\n  return text.replace(/'/g, \\\"''\\\").replace(/\\\\\\\\/g, '\\\\\\\\\\\\\\\\').trim();\\n};\\n\\nconst reply = $('Generate Reply (Ollama with Character Context)').item.json.response;\\n\\nreturn {\\n  ...$ json,\\n  reply_text: sanitizeText(reply),\\n  reply_length: reply.length\\n};"
            },
            "id": "sanitize-reply",
            "name": "Sanitize Reply Text",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1450,
                250
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=-- Log reply to database\\nINSERT INTO comment_replies (comment_id, character_id, reply_text, sentiment, platform, created_at)\\nVALUES ({{ $json.comment_id }}, {{ $json.character_id }}, '{{ $json.reply_text }}', '{{ $json.sentiment }}', '{{ $json.platform }}', NOW());\\n\\n-- Mark comment as replied\\nUPDATE social_comments SET replied = true, replied_at = NOW() WHERE id = {{ $json.comment_id }};",
                "options": {}
            },
            "id": "save-reply-log",
            "name": "Save Reply to Database",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                1650,
                250
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.TELEGRAM_BOT_URL }}/sendMessage",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "chat_id",
                            "value": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}"
                        },
                        {
                            "name": "text",
                            "value": "=💬 AUTO-REPLY SENT\\n\\n👤 Character: {{ $json.character_name }}\\n📱 Platform: {{ $json.platform }}\\n👥 User: {{ $json.user_name }}\\n💭 Comment: {{ $json.comment_text }}\\n😊 Sentiment: {{ $json.sentiment }}\\n✍️ Reply: {{ $json.reply_text }}\\n\\n✅ Logged to database"
                        }
                    ]
                },
                "options": {}
            },
            "id": "notify-telegram",
            "name": "Notify Admin via Telegram",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1850,
                250
            ]
        }
    ],
    "connections": {
        "Trigger Every 5 Minutes": {
            "main": [
                [
                    {
                        "node": "Get Unanswered Comments (Last 30min)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Unanswered Comments (Last 30min)": {
            "main": [
                [
                    {
                        "node": "Check If Comments Exist",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check If Comments Exist": {
            "main": [
                [
                    {
                        "node": "Analyze Comment Sentiment (Ollama)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze Comment Sentiment (Ollama)": {
            "main": [
                [
                    {
                        "node": "Process Character Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Character Context": {
            "main": [
                [
                    {
                        "node": "Generate Reply (Ollama with Character Context)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Reply (Ollama with Character Context)": {
            "main": [
                [
                    {
                        "node": "Sanitize Reply Text",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sanitize Reply Text": {
            "main": [
                [
                    {
                        "node": "Save Reply to Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Reply to Database": {
            "main": [
                [
                    {
                        "node": "Notify Admin via Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "createdAt": "2026-01-25T00:00:00.000Z",
    "updatedAt": "2026-01-25T00:00:00.000Z",
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "Phase 1",
            "id": "phase1"
        },
        {
            "name": "Engagement",
            "id": "engagement"
        },
        {
            "name": "Automation",
            "id": "automation"
        }
    ],
    "triggerCount": 1,
    "versionId": "1"
}
