n8n_workflows/04_PH2_DM_Sales_Automation.json
{
    "name": "FASE 2 - Automated DM & Language-Aware Engagement",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "social-webhook",
                "options": {}
            },
            "id": "webhook-social",
            "name": "Webhook (New Comment/DM)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                200,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://ollama:11434/api/generate",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "tinyllama"
                        },
                        {
                            "name": "prompt",
                            "value": "=Analyze the following message and detect the language. Respond ONLY with the language code (e.g., 'en', 'ja', 'es', 'pt', 'de', 'fr').\n\nMessage: {{ $json.body.message || $json.body.comment_text }}"
                        },
                        {
                            "name": "stream",
                            "value": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "detect-language-ollama",
            "name": "Detect Language (Ollama)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                400,
                400
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT * FROM characters WHERE id = {{ $json.body.character_id || 1 }} LIMIT 1",
                "options": {}
            },
            "id": "get-character-phase2",
            "name": "Get Character Persona",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                600,
                400
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const lang = $('Detect Language (Ollama)').item.json.response.trim().toLowerCase();\nconst character = $('Get Character Persona').item.json;\nconst interactionType = $json.body.type || 'welcome'; // welcome, engagement, upsell\n\n// Persona behavior based on the config\nconst personaTemplates = {\n  'miyuki_sakura': {\n    'younger_sister': {\n        'en': 'Hi! Thanks for reaching out! I\\'m so happy to talk to you! 😊',\n        'ja': 'こんにちは！メッセージありがとうございます！お話しできてとても嬉しいです！✨',\n        'es': '¡Hola! ¡Gracias por escribirme! ¡Estoy muy feliz de hablar contigo! 💕'\n    }\n  },\n  'aiko_hayashi': {\n    'boss_authority': {\n        'en': 'Welcome to my office. I hope you\\'ve been productive today. 💼',\n        'ja': '私のオフィスへようこそ。今日の仕事は順調ですか？💼',\n        'es': 'Bienvenido a mi oficina. Espero que hayas sido productivo hoy. 💼'\n    }\n  }\n};\n\nconst characterPersonaTemplate = personaTemplates[character.id] || personaTemplates['miyuki_sakura'];\nconst personaMode = character.persona_mode || 'younger_sister';\nconst responseTemplate = characterPersonaTemplate[personaMode][lang] || characterPersonaTemplate[personaMode]['en'];\n\nreturn {\n  detected_lang: lang,\n  response_text: responseTemplate,\n  character_id: character.id,\n  trigger_word: character.trigger_word,\n  follower_username: $json.body.username,\n  nsfw_level: $json.body.subscriber_tier === 'premium' ? 4 : 0\n};"
            },
            "id": "prepare-response",
            "name": "Prepare Persona Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.replicate.com/v1/predictions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "version",
                            "value": "da77403487f90cbd56bcc580f124c6e9196b6bf09d8d6467362f6bcc1b90f488"
                        },
                        {
                            "name": "input",
                            "value": "={{ { 'prompt': $json.trigger_word + ', ' + $('Get Character Persona').item.json.appearance.base_description + ', looking at camera, high detail, masterpiece, 8k, bokeh background', 'negative_prompt': 'nsfw, low quality, blurry', 'width': 1024, 'height': 1024, 'num_inference_steps': 30, 'guidance_scale': 7.5 } }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "gen-personalized-image",
            "name": "Generate Personalized Image (Replicate)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "replicate_api_token",
                    "name": "Replicate API Token"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO dm_messages (message_id, subscriber_id, platform, message_content, status, created_at)\nVALUES (md5(random()::text || clock_timestamp()::text)::uuid, $1, 'instagram', $2, 'pending_approval', NOW())\nRETURNING message_id",
                "options": {},
                "additionalFields": {
                    "queryParameters": "={{ JSON.stringify([$json.follower_username, $json.response_text]) }}"
                }
            },
            "id": "save-dm-proposal",
            "name": "Save DM Proposal",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                1200,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.TELEGRAM_BOT_URL }}/sendPhoto",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "chat_id",
                            "value": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}"
                        },
                        {
                            "name": "photo",
                            "value": "={{ $('Generate Personalized Image (Replicate)').item.json.output[0] }}"
                        },
                        {
                            "name": "caption",
                            "value": "=🤖 *Phase 2 Auto-Response Proposal*\n\n👤 *Follower:* {{ $('Prepare Persona Response').item.json.follower_username }}\n🌍 *Lang/Context:* {{ $('Prepare Persona Response').item.json.detected_lang }}\n📊 *Segment:* {{ $('Prepare Persona Response').item.json.nsfw_level > 0 ? 'Premium/NSFW' : 'Standard/SFW' }}\n\n💬 *Proposed Message:* \n_{{ $('Prepare Persona Response').item.json.response_text }}_\n\n⚠️ *Action Required:* Approve to send."
                        },
                        {
                            "name": "reply_markup",
                            "value": "={{ JSON.stringify({ \"inline_keyboard\": [[ { \"text\": \"✅ Send Message\", \"callback_data\": \"approve_dm_\" + $json.message_id, \"url\": ($env.WEBHOOK_URL || 'http://n8n:5678') + \"/webhook/exec-dm-job?id=\" + $json.message_id }, { \"text\": \"❌ Reject\", \"callback_data\": \"reject_dm_\" + $json.message_id } ]] }) }}"
                        },
                        {
                            "name": "parse_mode",
                            "value": "Markdown"
                        }
                    ]
                },
                "options": {}
            },
            "id": "notify-admin",
            "name": "Admin Notification & Preview",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1400,
                300
            ]
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "exec-dm-job",
                "options": {}
            },
            "id": "webhook-dm-approve",
            "name": "Webhook (Approve DM)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                200,
                150
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE dm_messages SET status = 'approved' WHERE message_id = '{{ $json.query.id }}' RETURNING *",
                "options": {}
            },
            "id": "update-dm-status",
            "name": "Update DM Status DB",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                400,
                150
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return {\n  status: \"success\",\n  message: \"DM approved and marked for sending\",\n  dm_details: $input.item.json\n};"
            },
            "id": "finalize-dm",
            "name": "Finalize DM Approval",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                150
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.TELEGRAM_BOT_URL }}/sendMessage",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "chat_id",
                            "value": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}"
                        },
                        {
                            "name": "text",
                            "value": "=✅ <b>DM Approved and Sent</b>\n\nID: {{ $json.dm_details.message_id }}\nRecipient: {{ $json.dm_details.subscriber_id }}\nContent: <i>{{ $json.dm_details.message_content }}</i>"
                        },
                        {
                            "name": "parse_mode",
                            "value": "HTML"
                        }
                    ]
                },
                "options": {}
            },
            "id": "notify-dm-success",
            "name": "Notify DM Success",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                800,
                150
            ]
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "reject-dm-job",
                "options": {}
            },
            "id": "webhook-dm-reject",
            "name": "Webhook (Reject DM)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                200,
                0
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE dm_messages SET status = 'rejected' WHERE message_id = '{{ $json.query.id }}'",
                "options": {}
            },
            "id": "update-dm-reject",
            "name": "Update DM Status Reject",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                400,
                0
            ],
            "credentials": {
                "postgres": {
                    "id": "waifugen_postgres",
                    "name": "WaifuGen PostgreSQL"
                }
            }
        }
    ],
    "connections": {
        "Webhook (New Comment/DM)": {
            "main": [
                [
                    {
                        "node": "Detect Language (Ollama)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Detect Language (Ollama)": {
            "main": [
                [
                    {
                        "node": "Get Character Persona",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Character Persona": {
            "main": [
                [
                    {
                        "node": "Prepare Persona Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Persona Response": {
            "main": [
                [
                    {
                        "node": "Generate Personalized Image (Replicate)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Personalized Image (Replicate)": {
            "main": [
                [
                    {
                        "node": "Save DM Proposal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save DM Proposal": {
            "main": [
                [
                    {
                        "node": "Admin Notification & Preview",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook (Approve DM)": {
            "main": [
                [
                    {
                        "node": "Update DM Status DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update DM Status DB": {
            "main": [
                [
                    {
                        "node": "Finalize DM Approval",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Finalize DM Approval": {
            "main": [
                [
                    {
                        "node": "Notify DM Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook (Reject DM)": {
            "main": [
                [
                    {
                        "node": "Update DM Status Reject",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "instanceId": "waifugen_production"
    }
}